// Import page-specific CSS files here.
@import "home";


// L'image de fond est définie dans app/assets/images/background.jpg
body {
  // background-image: asset-url('assets/images/MooD_BooK.png');
  background-size: cover;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.carousel-item {
  img {
    margin: auto;
    width: 20%;
  }
}
