h1 {
  text-align: center;
}


.card-mood-dash .book-cover img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ajustez selon vos besoins */
  object-fit: cover;
  border-radius: 8px;
}
.card-mood-dash .name_book {
  margin-top: 10px;
}
.card-mood-dash .book-details {
  margin-top: 15px;
}

.card-mood-dash .toggle-switch,
.card-mood-dash .download-button,
.card-mood-dash .remove-button {
  margin-top: 10px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #95a5a6;
  color: #fff;
}


.btn-danger {
  background-color: #c0392b;
  color: #fff;
}
.btn-danger:hover {
  background-color: #ef0d24;
}
.btn-primary:hover {
  background-color: #bdc3c7;
}

// bouton toggle
.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.toggle-label-text {
  margin: 0 10px;
  color: #333;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #7f8c8d;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

// bouton delete
.button-delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}
.cards-mood-dash {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-mood-dash {
  flex-basis: calc(33.333% - 20px);
  flex-grow: 1;
  max-width: calc(33.333% - 20px);
  text-align: center;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card-mood-dash:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-mood-dash .book-cover-dash img {
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
//responsive
@media screen and (max-width: 768px) {
  .cards-mood-dash {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .card-mood-dash {
    flex-basis: 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .name_book {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 600;
  }
}
