.card {
  border-radius: 20px;
  position:absolute;
  left: 2%;
}

// bouton toggle
.toggle-switch {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.toggle-label-text {
  margin: 0 10px;
  color: #333;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #346abf;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

// bouton delete
.button-delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}
