<footer class="footer">
<div class="footer-title">Suivez nous !</div>
<div class="image_footer"></div>
<div class="menu">
<div><i class="fa-brands fa-facebook"></i></div>
<div><i class="fa-brands fa-instagram"></i></div>
<div><i class="fa-solid fa-x"></i></div>
</div>
<div class="copy">© 2023 Tous droits réservés par Mood Books</div>
</footer>
