<!-- app/views/library/index.html.erb -->

<h1>Ma Bibliothèque</h1>

<% if @library_books.any? %>
  <ul>
    <% @library_books.each do |book| %>
      <li>
        <!-- Display details of the book in the library based on your data structure -->
        <%= book.title %> - <%= book.author %> <!-- Adjust according to your book model -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Votre bibliothèque est vide.</p>
<% end %>
