<!-- app/views/dashboards/show.html.erb -->
<h1>My Dashboard</h1>
<ul>
  <% @dashboard_books.each do |dashboard_book| %>
    <li><%= dashboard_book.book.title %></li>
    <!-- Add other details you want to display -->
  <% end %>
</ul>
