<%= render 'shared/navbar' %>
  <section class="home_page">
    <div class="image_home"></div>
    <div class="home">
      <div class="content">
        <p>Mood <span>Books</span></p>
        <div class="card_que" style="width: 18rem; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="card-body" style="background-color: #f8f9fa; border-radius: 15px; padding: 20px;">
      <p class="card-text" style="font-size: 1.2rem; color: #343a40;">Quelle est votre humeur du jour?</p>
     <a href="<%= new_questionnaire_path %>" class="card-link questionnaire-link">Questionnaire</a>
    </div>
  </div>
      </div>
    </div>
  </section>

  <h1>Recommandations de Livres</h1>

<section class="cards_banner">
    <div class="card">
      <div class="image_banner_two"></div>
      <div class="home_banner">
        <div class="cnt_banner">
          <p>New <br> Realease.</p>
          <button>Shop New</button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image_banner_three"></div>
      <div class="home_banner">
        <div class="cnt_banner">
          <p>Pre Order <br>Now.</p>
          <button class="btn_two">Shop New</button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image_banner"></div>
      <div class="home_banner">
        <div class="cnt_banner">
          <p>Top <br> Rated.</p>
         <button class="btn_thre">Shop New</button>
        </div>
      </div>
    </div>
  </section>



<section>
<h2 class="title_aut">Best Author</h2>
<swiper-container >
  <swiper-slide class="">
    <div class="card_aut">
      <div class="image_banner_aut"></div>
      <div class="home_banner">
        <div class="cnt_banner_aut">
          <p class="name_aut">J.K Rowling</p>
        </div>
      </div>
    </div></swiper-slide>
  <swiper-slide> <div class="card_aut">
      <div class="image_banner_aut_two"></div>
      <div class="home_banner">
        <div class="cnt_banner_aut">
          <p class="name_aut">Ian McEwan</p>
        </div>
      </div>
    </div></swiper-slide>
  <swiper-slide>
  <div class="image_banner_aut_three"></div>
      <div class="home_banner">
        <div class="cnt_banner_aut">
          <p class="name_aut">Margaret Atwood</p>
        </div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
</section>

<footer class="footer">
<div class="footer-title">Suivez nous !</div>
<div class="footer-text">Actuellement le service n'est disponible que sur Paris et <br> en région parisienne , il serra bientôt disponible dans <br> toute la France !</div>
<div class="menu">
<div><i class="fa-brands fa-facebook"></i></div>
<div><i class="fa-brands fa-instagram"></i></div>
<div><i class="fa-solid fa-x"></i></div>
</div>
<div class="copy">© 2023 Tous droits réservés par Make Friends</div>
</footer>
