<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.capitalize, book_category_path(category: category) %></li>
  <% end %>
</ul>
