<%= render 'shared/navbar' %>
  <section class="home_page">
    <div class="image_home"></div>
    <div class="home">
      <div class="content">
        <p>Mood <span>Books</span></p>
        <div class="card_que" style="width: 18rem; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="card-body" style="background-color: #f8f9fa; border-radius: 15px; padding: 20px;">
      <p class="card-text" style="font-size: 1.2rem; color: #343a40;">Quelle est votre humeur du jour?</p>
     <a href="<%= new_questionnaire_path %>" class="card-link questionnaire-link">Questionnaire</a>
    </div>
  </div>
      </div>
    </div>
  </section>

  <h1>Recommandations de Livres</h1>

<section class="cards_banner">
    <div class="card">
      <div class="image_banner_two"></div>
      <div class="home_banner">
        <div class="cnt_banner">
          <p>Nouveaux<br> ajouts.</p>
          <button>Retrouvez-les ici</button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image_banner_three"></div>
      <div class="home_banner">
        <div class="cnt_banner">
          <p>Recommandations <br>de livres.</p>
          <button class="btn_two">À voir ici</button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image_banner"></div>
      <div class="home_banner">
        <div class="cnt_banner">
          <p>Mieux Notés.</p>
         <button class="btn_thre">À voir ici</button>
        </div>
      </div>
    </div>
  </section>



<section>
<h2 class="title_aut">Meilleurs auteurs</h2>
<swiper-container >
  <swiper-slide class="">
    <div class="card_aut">
      <div class="image_banner_aut"></div>
      <div class="home_banner">
        <div class="cnt_banner_aut">
          <p class="name_aut">J.K Rowling</p>
        </div>
      </div>
    </div></swiper-slide>
  <swiper-slide> <div class="card_aut">
      <div class="image_banner_aut_two"></div>
      <div class="home_banner">
        <div class="cnt_banner_aut">
          <p class="name_aut">Ian McEwan</p>
        </div>
      </div>
    </div></swiper-slide>
  <swiper-slide>
  <div class="image_banner_aut_three"></div>
      <div class="home_banner">
        <div class="cnt_banner_aut">
          <p class="name_aut">Margaret Atwood</p>
        </div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
</section>

<%= render 'shared/footer' %>
