<%= render 'shared/navbar' %>
  <section class="home_page">
    <div class="image_home"></div>
    <div class="home">
      <div class="content">
        <p>Mood <span>Books</span></p>
        <button>Best Seller</button>
      </div>
    </div>
  </section>
