<div class="cards-mood">
  <div>
    <% if params[:query].blank? %>
      <h1 class="h3"><%= pluralize @books.count, 'book' %> available</h1>
    <% else %>
      <h1 class="h3"><%= pluralize @books.count, 'resultat' %> pour <code><%= params[:query] %></code></h1>
    <% end %>
  </div>
</div>
