<%= render 'shared/navbar' %>

<!-- Lien vers la page d'accueil -->


<div class="container">
  <h1 class='m-3'>Categories</h1>

  <% @categories.each do |category| %>
    <% background_image = @category_backgrounds[category] %>

      <div class="card-category" style="background-image: <%= background_image %>">
      <p>
        <%= link_to category.capitalize, book_category_path(category: category), class:'text-decoration-none text-black text-uppercase' %>
      </p>
    </div>
  <% end %>
</div>
