<!-- app/views/books/index.html.erb -->

<div class="container">
  <h1 class='mt-2'>Categories</h1>

  <% @categories.each do |category| %>
    <% background_image = @category_backgrounds[category] %>

      <div class="card-category" style="background-image: <%= background_image %>">
      <p>
        <%= link_to category.capitalize, book_category_path(category: category), class:'text-decoration-none text-white text-uppercase' %>
      </p>
    </div>
  <% end %>
</div>
