<!-- app/views/books/index.html.erb -->

<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.capitalize, book_category_path(category: category) %></li>
  <% end %>
</ul>
