
.card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1.5vw;
  overflow: hidden;
  position: relative;
  width: 300px;
  padding: 15px;

  .square-card {
    border-radius: inherit;

  }

  .card-text {
    margin: 10px;
  }

  border: 1px solid #6667AB;
}

.card-wrapper {
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vw;
  margin: 7px;
}

.col-md-4 {
  padding-right: 1vw;
  padding-left: 1vw;
}

.fa-solid {
  font-size: 20px;
  color: #FFB900;
}
.happy-image {
  width: 100px;
}
.text-mood {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.title-reco{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .card-category{
    width: 100px;
  }


}
