
.card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1.5vw;
  overflow: hidden;
  position: relative;

  .square-card {
    border-radius: inherit;

  }

  .card-text {
    margin: 10px;
  }

  border: 1px solid #6667AB;
}

.card-wrapper {
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  margin: 15px;
}

.col-md-4 {
  flex: 0 0 31%;
  max-width: 31%;
  padding-right: 1vw;
  padding-left: 1vw;
}

i {
  font-size: 20px;
  color: #FFB900;
}
